<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:meld="http://www.plope.com/software/meld3">
<head>
  <title>iProcess Status</title>
  <link href="{{ url_for('static', filename='stylesheets/iprocess.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='images/icon.png') }}" rel="icon" type="image/png" />
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='encoder.js') }}"> </script>
</head>
<body>
    

<div id="wrapper">

  <div id="header">
    <img src="{{ url_for('static', filename='images/iprocess.gif') }}" alt="iProcess status" />
  </div>

  <div meld:id="content">
    <div class="hidden" meld:id="statusmessage">#</div>

    <form meld:id="form" action="index.html" method="post">
      <ul id="buttons" class="clr">
        <li id="refresh"><a onclick="window.location.reload()" >&nbsp;</a></li>
        <li id="restart_all"><a href="index.html">&nbsp;</a></li>
        <li id="stop_all"><a href="index.html">&nbsp;</a></li>
      </ul>

      <table cellspacing="0" id="statustable">
        <thead>
        <tr>
          <th class="name">Name</th>
          <th class="port">Port</th>
          <th class="live_time">Live-Time</th>
          <th class="state">State</th>
          <th class="desc">Description</th>
          <th class="action">Action</th>
          <th class="action"> </th>
        </tr>
        </thead>

        <tbody meld:id="tbody">
          <tr meld:id="tr" class="">
            <td meld:id="name_td"><a href="#" meld:id="name_anchor" target="_blank">Name</a></td>
            <td meld:id="port">Port</td>
            <td meld:id="live_time">Live-Time</td>
            <td meld:id="status_td" class="status"><span meld:id="status_text" class="statusnominal">Status</span></td>
            <td meld:id="info_td"><span meld:id="info_text">Info</span></td>
            <td meld:id="action_td" class="action">
              <ul>
                <li meld:id="actionitem_td">
                  <input type="button" href="#" name="#" meld:id="actionitem_anchor" onclick="actionClick(this)" value="#"></input>
                </li>
              </ul>
            </td>
            <td><u><label href="#" meld:id="edititem_anchor"  name="#" onclick="editClick(this)">Edit</label></u></td>
          </tr>
        </tbody>
        
      </table>
    </form>

   </div>
    <br/>
    <div id="div_channel_info" style="display:none">
        
    </div>

  <p class="push" id="msgdisplay" >
  </p>
</div>

<div id="footer" class="clr">
  <div class="right">
    copy; 2006-<span meld:id="copyright_date">#</span> <strong><a href="http://agendaless.com/">Agendaless Consulting and Contributors</a></strong>
  </div>
</div>
</body>
</html>
